.preview{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 40px;
}.pic{
width: 98vw;
border-radius: 10px;
}.preview>div{
  display: flex;
  justify-content: space-between;
  background: #232323;
  width: 100vw;
  height: 50px;
  align-items: center;
  color: white;
  border-radius: 10px;
  margin-top: 3px;
  width: 98vw;
}.star{
  margin-right: 20px;
}.preview>div>span{
  margin-left: 20px;
  font-weight: bold;
}.phead{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}.ic{
  margin-right: 20px;
  margin-left: 20px;
}